@font-face {
    font-family: Abel;
    src: url(../fonts/Abel/Abel-Regular.ttf);
}

@font-face {
    font-family: Yanone_Kaffeesatz;
    src: url(../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Light.ttf);
}

@font-face {
    font-family: Lobster;
    src: url(../fonts/Lobster/Lobster-Regular.ttf);
}

@font-face {
    font-family: Kaushan_Script;
    src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}



#contenedor_publicaciones{}
/* NOTE:  */
.title-camorannscook{font-family: Lobster; font-size: 37px; font-weight: bold; padding-left: 25px;}
.opc-menu{padding-bottom: 18px; padding-left: 10%;}
.title-article{font-family: Kaushan_Script, Arial}
#input-cm{height: 60px; font-size: 35px; font-family: Abel}
/* NOTE:  */
.neutro{border: 0px solid #666; border-bottom: 1px solid #ccc; box-shadow: 0px 0px #fff; border-radius: 2px;}
.neutro:focus{box-shadow: 0px 0px #fff;}
.input-group-addon>#btn-busqueda-av{width: 60px}
.title-article-history{font-family: Abel, serif;}
.input-create{height: 40px;font-size: 18px; font-family: Abel; border-radius: 2px;}
.btn-go-create{color: #333; background: #fff; border: 1px solid #666}
.btn-go-create:focus,.btn-go-create:hover{color: #000;}
.input-create:focus{box-shadow: 0px 0px #fff; }
.parrafo{font-family:Yanone_Kaffeesatz; font-size: 18px;}
.btn-basic{border-radius: 3px;}

.cretion-panel{font-family: Abel}
.cretion-panel label{font-size: 18px;}
.separador{width: 100%; margin: 1px 0px 1px 0px;}
.articulo{border-bottom: 1px solid #ccc; padding-bottom: 4px;}

.header-camorannscook{width: 100%; height: 65px; background: #fff; padding-right: 25px; border-bottom: 3px solid #555;}

.header-camorannscook>span{line-height: 60px}

.button-profile{width: 70px; border: 1px solid #000;}

.menu-camorannscook{font-family:Yanone_Kaffeesatz; margin-left:100px; font-size:20px; color:#999; list-style: none}
.menu-camorannscook>li{float: left;}
.menu-camorannscook>span{margin-left: 20px;}

.img-profile{margin-right:25px;}
.img-margin-button{margin-bottom: 15px;}

.icon-menu{padding-bottom: 30px;}

.btns-camoranns{line-height: 10px;}

.info-camorannscook{font-family: Yanone_Kaffeesatz, Arial; font-size: 19px;}

.add-options{background: #eee; padding: 3px }

.info-camorannscook{font-size: 15px;}


/* */

.item {
  background: #FCFCFC;
  color: #111;
  border-radius: 3px;
  padding: 5px 10px 0px 10px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  font-family: Yanone_Kaffeesatz, Arial;
  font-size: 17px;
  border-top: 1px solid #999;
}

.item >img{margin-top: 0px; float: left; padding-bottom: -10px;}

.item >button{margin-left: 7px;}
/* */
